@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
  background-color: #EBECF0;
}

.form {
  display: block;
	width: 330px;
	height: auto;
	padding: 32px;
	background-color: #EBECF0;
	border-radius: 13px;
  box-shadow:  3px 3px 5px #BABECC,  -5px -5px 10px #FFF;
	&__field {
		display: grid;
		gap: 24px;
		margin-bottom: 32px;
	}
}

.input-group {
	width: 100%;
	height: auto;
	&__label {
    display: block;
    padding-left: 10px;
		font-size: 20px;
		letter-spacing: 0.05em;
    color: #61677C;
    text-shadow: 1px 1px 0 #FFF;
    margin-bottom: 8px;
	}
	&__input {
		display: block;    
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
		width: 100%;
		background-color: transparent;
		font-size: 18px;
		letter-spacing: 0.1em;
    color: #61677C;
    text-shadow: 1px 1px 0 #FFF;
		padding: 12px;
		outline: none;
		border: none;
		border-radius: 30px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    transition: all 0.2s ease-in-out;
    &:focus {
      box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
    }
	}
}

.button {
	background-color: transparent;
	color: #61677C;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.07em;
	text-shadow: 1px 1px 0 #FFF;
	padding: 8px 20px;
	border: 0;
	border-radius: 30px;
	box-shadow:  3px 3px 5px #BABECC,  -4px -4px 10px #FFF;
	outline: 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	&:hover {
		box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
	}
	&:active {
		box-shadow: inset 2px 2px 3px #BABECC, inset -2px -2px 3px #FFF;
	}
}